* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

header,
footer {
    height: 70px;
    background-color: black;
}

section {
    height: 100vh;
    border: 3px solid black;
}